@font-face {
  font-family: 'Lovely';
  font-style: normal;
  font-weight: 200 700;
  src: url("assets/Lovely-May-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 200 700;
  src: url("assets/Fahkwang-Regular.ttf") format("truetype");
}

.scroller {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
section {
    scroll-snap-align: start;
    overflow: hidden;
}
.top, .top > *{
    position: absolute;
    top: 0;
}
.left, .left > *{
    position: absolute;
    left: 0;
}
.bottom, .bottom > *{
    position: absolute;
    bottom: 0;
}
.right, .right > *{
    position: absolute;
    right: 0;
}