@font-face {
  font-family: 'Lovely';
  font-style: normal;
  font-weight: normal;
  src: local('Lovely May Regular'), url("./assets/Lovely-May-Regular.otf") format("otf");
}
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: normal;
  src: local('Fahkwang Regular'), url("./assets/Fahkwang-Regular.ttf") format("ttf");
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
section {
    scroll-snap-align: start;
}
.top, .top > *{
    position: absolute;
    top: 0;
}
.left, .left > *{
    position: absolute;
    left: 0;
}
.bottom, .bottom > *{
    position: absolute;
    bottom: 0;
}
.right, .right > *{
    position: absolute;
    right: 0;
}